@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  @apply bg-gradient-to-r from-blue-500 to-cyan-500 inline-block text-transparent bg-clip-text;
}

.tabs{
  @apply px-5 h-[45px] w-[10rem] dark:data-[state=active]:text-white  border-b flex items-center justify-center text-[15px] leading-none text-gray-700 dark:text-gray-500 dark:data-[state=active]:border-white outline-none cursor-pointer transition-colors duration-200 data-[state=active]:text-black data-[state=active]:border-black
}
body .w-md-editor-text-pre>code,
body .w-md-editor-text-input {
  font-size: 18px !important;
  line-height: 24px !important;
}

.tabs-scrollable {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.tabs-scrollable::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}

@layer base {
  :root {
    --background: 210 50% 95%;
    --foreground: 215 85% 20%;
    --card: 210 60% 98%;
    --card-foreground: 215 85% 15%;
    --popover: 210 60% 98%;
    --popover-foreground: 215 85% 15%;
    --primary: 200 90% 42%;
    --primary-foreground: 210 100% 98%;
    --secondary: 190 70% 60%;
    --secondary-foreground: 210 100% 98%;
    --muted: 210 30% 92%;
    --muted-foreground: 215 20% 40%;
    --accent: 210 80% 60%;
    --accent-foreground: 210 100% 98%;
    --destructive: 0 70% 55%;
    --destructive-foreground: 210 100% 98%;
    --border: 210 15% 85%;
    --input: 210 15% 85%;
    --ring: 215 85% 20%;
    --radius: 0.5rem;
    --chart-1: 200 100% 40%;
    --chart-2: 185 80% 50%;
    --chart-3: 210 100% 30%;
    --chart-4: 195 70% 60%;
    --chart-5: 205 80% 50%;
  }

  .dark {
    --background: 210 0% 0%;
    --foreground: 210 85% 95%;
    --card: 210 15% 15%;
    --card-foreground: 210 85% 95%;
    --popover: 210 15% 15%;
    --popover-foreground: 210 85% 95%;
    --primary: 200 90% 45%;
    --primary-foreground: 210 85% 95%;
    --secondary: 185 70% 50%;
    --secondary-foreground: 210 85% 95%;
    --muted: 210 20% 30%;
    --muted-foreground: 215 20% 65%;
    --accent: 210 80% 50%;
    --accent-foreground: 210 85% 95%;
    --destructive: 0 70% 40%;
    --destructive-foreground: 210 85% 95%;
    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 210 85% 50%;
    --chart-1: 200 100% 45%;
    --chart-2: 185 80% 35%;
    --chart-3: 210 100% 40%;
    --chart-4: 195 70% 55%;
    --chart-5: 205 80% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}